body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: white;
}
.App {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.post-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.post-preview,
.post-card {
  text-align: center;
  border: 1px solid black;
  background-color: #555;
  color: white;
  font-family: monospace;
  margin-bottom: 50px;
  padding: 15px;
}
.comment {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #eee;
  color: black;
  font-family: monospace;
  padding: 10px;
  margin-bottom: 10px;
}
.post-card h1 {
  font-size: 3rem;
}
.post-card p {
  font-size: 2rem;
}
.comment p {
  font-size: 1.7rem;
}
form {
  margin-bottom: 50px;
}
